@charset "UTF-8";
#check_list_1:checked ~ #containner_1 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#check_list_1:checked ~ #check_1 {
  width: 77px;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
}

#check_list_2:checked ~ #containner_2 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#check_list_2:checked ~ #check_2 {
  width: 77px;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
}

#check_list_3:checked ~ #containner_3 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#check_list_3:checked ~ #check_3 {
  width: 77px;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
}

#check_list_4:checked ~ #containner_4 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#check_list_4:checked ~ #check_4 {
  width: 77px;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
}

#check_list_5:checked ~ #containner_5 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#check_list_5:checked ~ #check_5 {
  width: 77px;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
}

#check_list_6:checked ~ #containner_6 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#check_list_6:checked ~ #check_6 {
  width: 77px;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
}

#check_list_7:checked ~ #containner_7 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#check_list_7:checked ~ #check_7 {
  width: 77px;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
}

#check_list_8:checked ~ #containner_8 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#check_list_8:checked ~ #check_8 {
  width: 77px;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
}

#check_list_9:checked ~ #containner_9 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#check_list_9:checked ~ #check_9 {
  width: 77px;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
}

#check_list_10:checked ~ #containner_10 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#check_list_10:checked ~ #check_10 {
  width: 77px;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
}

.menu {
  opacity: 0;
  animation: apparition_cards 1s forwards;
}

#menu_1 {
  animation-delay: 0.33s;
}

#menu_2 {
  animation-delay: 0.66s;
}

#menu_3 {
  animation-delay: 1s;
}

@keyframes apparition_cards {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

h1, i {
  font-family: "Shrikhand", serif;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

p, h2, button, a, h3 {
  font-family: "Roboto", sans-serif;
}

button:hover {
  cursor: pointer;
}

.section_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 10%;
}
.section_info .div_info {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  box-shadow: inset 0px 4px 3px 0px #CCCCCC;
  color: black;
  margin: 0px;
}
.section_info i {
  padding-right: 2%;
  color: #353535;
}
.section_info h2 {
  padding: 0px 70px 0px 70px;
  margin-block-start: 10%;
  margin-block-end: 10px;
}
.section_info .p_info {
  padding: 0px 40px 0px 40px;
  margin-block-start: 0px;
  margin-block-end: 8%;
}
.section_info input {
  font-family: "Roboto", sans-serif;
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  width: 109px;
  border: none;
  background-color: transparent;
  padding-left: 5px;
}

nav {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.section_cards {
  padding-top: 10%;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #F6F6F6;
}
.section_cards h2 {
  font-size: 24px;
  font-weight: 700;
}

.section_fonctionnement {
  display: flex;
  flex-direction: column;
}
.section_fonctionnement h2 {
  font-weight: 700;
  font-size: 24px;
  margin-left: 25px;
}
.section_fonctionnement ol {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}
.section_fonctionnement ol li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.section_fonctionnement ol li p {
  color: white;
  position: relative;
  left: 13px;
  border: none;
  width: 30px;
  height: 26px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_fonctionnement ol li figure {
  margin-left: 0px;
  margin-right: 25px;
  height: 72px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 20px;
  background-color: #F6F6F6;
  justify-content: center;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
}
.section_fonctionnement ol li figure:hover i {
  color: #9356DC;
}
.section_fonctionnement ol li figure i {
  margin-right: 13px;
  color: #353535;
}
.section_fonctionnement ol li figure figcaption {
  width: 61%;
  max-width: 187px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) {
  .section_info {
    padding-bottom: 3%;
    background-color: #F6F6F6;
  }
  .section_info h2 {
    font-weight: 700;
    font-size: 40px;
    margin-block-start: 3%;
  }
  .section_info .p_info {
    font-weight: 300;
    color: #353535;
    font-size: 18px;
    margin-block-start: 9px;
    margin-block-end: 2%;
  }
  .section_fonctionnement {
    padding-left: 10%;
    padding-right: 10%;
  }
  .section_fonctionnement h2 {
    margin-left: 0px;
  }
  .section_fonctionnement ol {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .section_fonctionnement ol li {
    width: 35%;
  }
  .section_fonctionnement ol li figure {
    margin-left: 0px;
    margin-right: 0px;
  }
  .section_fonctionnement ol li figcaption {
    width: 57%;
  }
}
.main_menu img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_menu .box_menu {
  margin-bottom: -50px;
  padding-top: 50px;
  position: relative;
  top: -50px;
  border: none;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0px 0px;
  padding-left: 25px;
  padding-right: 25px;
}
.main_menu .hidden-checkbox {
  display: none;
}
.main_menu div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_menu div h2 {
  font-size: 28px;
  font-family: "Shrikhand", serif;
}
.main_menu div .heart-icon {
  position: relative;
  font-size: 21px;
  right: 22px;
  bottom: 10px;
}
.main_menu div .void_heart {
  position: absolute;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  color: black;
}
.main_menu div .full_heart {
  position: absolute;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
}
.main_menu div .hidden-checkbox:checked + .heart-icon .void_heart {
  opacity: 0;
}
.main_menu div .hidden-checkbox:checked + .heart-icon .full_heart {
  opacity: 1;
}
.main_menu .button_center_page {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
.main_menu .menu {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 4%;
}
.main_menu .menu article {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}
.main_menu .menu article .card_menu {
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 20px;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  transition: 400ms;
  padding-right: 38px;
}
.main_menu .menu article .card_menu .card_menu_titre {
  font-size: 18px;
  font-weight: 500;
  /*gestion elipse*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 91%;
  height: 18px;
  padding-bottom: 7px;
}
.main_menu .menu article .card_menu p {
  font-weight: lighter;
  margin-left: 30px;
  margin-block-start: 7px;
  margin-block-end: 7px;
  width: 100%;
  padding: 0px;
  border: none;
  height: 10px;
  padding: 0px;
  text-transform: none;
}
.main_menu .menu article .card_menu .price {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  width: 32px;
  color: #353535;
  bottom: 30%;
  right: 2%;
  margin: 0px;
  position: absolute;
  z-index: 2;
  padding: 0px;
}
.main_menu .menu article .card_menu .title_price {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  width: 91%;
  height: 19px;
  font-weight: 300;
  font-size: 15.04px;
}
.main_menu .menu article .check_list_box {
  width: 0px;
  transition: width 400ms;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 20px;
  justify-content: center;
  background-color: #99E2D0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.main_menu .menu article .check_list_box i {
  color: white;
  font-size: 20px;
}
.main_menu .menu p {
  font-weight: 300;
  padding-bottom: 8px;
  width: 11%;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 1mm solid #99E2D0;
}
.main_menu .menu .check_list_label {
  z-index: 4;
  position: absolute;
  display: block;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

/* desktop devices (1024px) */
@media (min-width: 768px) {
  .main_menu .heart-icon {
    position: relative;
    right: 0px;
    left: 15px;
  }
  .main_menu .box_menu {
    margin-left: 11%;
    margin-right: 11%;
    padding-left: 17%;
    padding-right: 17%;
  }
  .main_menu .box_menu .div_heart_title {
    justify-content: center;
  }
}
body {
  margin: 0px;
}

header {
  position: relative;
  display: flex;
  height: 63px;
  align-content: center;
  justify-content: center;
  align-items: center;
}
header h1 {
  position: relative;
  z-index: 1;
  margin-block-start: 0px;
  margin-block-end: 0px;
  width: 162px;
  height: 30px;
}
header h1 img {
  width: 162px;
  height: 30px;
}
header a {
  left: 25px;
  position: absolute;
  z-index: 2;
  text-decoration: none;
  color: black;
}

footer {
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #353535;
}
footer ul {
  padding: 0px;
}
footer ul .footer_title {
  margin-bottom: 20px;
}
footer ul h2 {
  font-weight: 500;
  font-size: 18px;
  color: white;
  font-family: "Shrikhand", serif;
  margin-block-end: 0px;
}
footer ul li {
  margin: 5px;
  list-style-type: none;
}
footer ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  align-items: center;
  text-decoration: none;
  color: white;
}
footer ul li a i {
  padding-right: 10px;
}

/* desktop devices (1024px) */
@media (min-width: 768px) {
  footer {
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 5px;
    padding-top: 49px;
    padding-right: 42px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer ul .footer_title {
    order: 1;
    margin-left: 50px;
  }
  footer ul .footer_space {
    margin-right: 20px;
  }
  footer ul li {
    margin-left: 15px;
  }
  footer ul li h2 {
    margin: 0px;
  }
}
.button_purpel {
  font-weight: 500;
  font-size: 16px;
  height: 50px;
  width: 50%;
  border-radius: 50px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0px 3px 6px 0.4px #CCCCCC;
  transition: background-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s; /* Ajout de la transition pour l'opacité */
}

.button_purpel:hover {
  background: linear-gradient(#fface8, #ae80e5);
  opacity: 0.9;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.button_purpel--center {
  justify-content: center;
  align-items: center;
}

/* desktop devices (1024px) */
@media (min-width: 768px) {
  .button_purpel {
    width: 218px;
  }
}
article .lien_cards {
  position: absolute;
  display: block;
  background-color: transparent;
  width: 92%;
  height: 27%;
}
article .a_cards {
  display: block;
  text-decoration: none;
  padding-bottom: 30px;
}
article .a_cards .div_cards {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-template-rows: 183px 67px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 251px;
  background-color: white;
  border-radius: 15px;
}
article .a_cards .div_img {
  grid-area: 1/1/2/3;
}
article .a_cards .div_img img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
article .a_cards .div_text {
  grid-area: 2/1/3/3;
  align-self: center;
  margin-left: 10px;
}
article .a_cards .div_text .cards_name {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
}
article .a_cards .div_text p {
  font-size: 17px;
  font-weight: 300;
  color: black;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
article .heart {
  grid-area: 2/2/3/3;
  align-self: center;
  justify-self: flex-end;
  padding-right: 36px;
}
article .hidden-checkbox {
  display: none;
}
article .heart-icon {
  position: relative;
  font-size: 21px;
}
article .void_heart {
  position: absolute;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  color: black;
}
article .full_heart {
  position: absolute;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
}
article #heart-checkbox-1:checked + .heart-icon .void_heart {
  opacity: 0;
}
article #heart-checkbox-1:checked + .heart-icon .full_heart {
  opacity: 1;
}
article #heart-checkbox-2:checked + .heart-icon .void_heart {
  opacity: 0;
}
article #heart-checkbox-2:checked + .heart-icon .full_heart {
  opacity: 1;
}
article #heart-checkbox-3:checked + .heart-icon .void_heart {
  opacity: 0;
}
article #heart-checkbox-3:checked + .heart-icon .full_heart {
  opacity: 1;
}
article #heart-checkbox-4:checked + .heart-icon .void_heart {
  opacity: 0;
}
article #heart-checkbox-4:checked + .heart-icon .full_heart {
  opacity: 1;
}

.cards_new .div_news {
  grid-area: 1/2/2/3;
  justify-self: flex-end;
  padding-right: 15px;
}
.cards_new .div_news p {
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  color: #008766;
  text-align: center;
  border: none;
  height: 25px;
  width: 80px;
  background-color: #99E2D0;
  padding-top: 5px;
}
.cards_new #cards_new_invisible {
  display: none;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) {
  .section_cards {
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .section_cards .organiz_cards_reponsive {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .section_cards .organiz_cards_reponsive article {
    width: 48%;
  }
  .section_cards .organiz_cards_reponsive article .lien_cards {
    position: absolute;
    display: block;
    background-color: transparent;
    width: 39%;
    height: 27%;
  }
}
body .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #F6F6F6;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOut 2s forwards; /* animation de disparition après 3 secondes */
}
body .loader .loader_spinner {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #353535;
  border-right-color: #9356DC;
  animation: spinner 2s infinite linear;
}
@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  } /* disparition de la div overlay */
}/*# sourceMappingURL=main.css.map */