body {
    margin: 0px;
}

header {
    display: flex;
    height: 63px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

header img {
    width: 45%;
    height: 55%;
}