body {
    margin: 0px;
}

header {

    display: flex;
    height: 63px;
    align-content: center;
    justify-content: center;
    align-items: center;

    h1 {
        margin-block-start: 0px;
        margin-block-end: 0px;
        width: 162px;
        height: 30px;

        img {
            width: 162px;
            height: 30px;
        }
    }
   
}

.hearder_restaurant {

    //gestion retour acceuil 
    //seulement pour les pages restaurant
    a {
        text-decoration: none;
        color: $text_color;
        padding-left: 5%;
        a:active {
            color: inherit;
        }
    }

}




