.button_purpel {
    font-weight: 500;
    font-size: 16px;
    height: 50px;
    width: 50%;
    border-radius: 50px;
    border: none;
    background: linear-gradient($secondary, $primary);
    color: $white;
    box-shadow: 0px 3px 6px 0.4px $shadow;
    transition: background-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s;

}

.button_purpel:hover {
    // Rendre la couleur de fond plus claire
    background: linear-gradient(lighten($secondary, 10%), lighten($primary, 10%));
    opacity: 0.9;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


.button_purpel--center {
    justify-content: center;
    align-items: center;
}

/* desktop devices (1024px) */
@media (min-width: 768px) {

    .button_purpel {
        width: 218px;
    }

}