.button_purpel {
    height: 50px;
    width: 50%;
    border-radius: 50px;
    border: none;
    background: linear-gradient($secondary, $primary);
    color: $white;
    box-shadow: 0px 3px 6px 0.4px $shadow;
}

.button_purpel--center {
    justify-content: center;
    align-items: center;
}

/* desktop devices (1024px) */
@media (min-width: 1024px) {

    .button_purpel {
        width: 218px;
    }

}