
button:hover {
    cursor: pointer;
}

//location bar
.section_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: $center_text;
    box-shadow: inset 0px 5px 5px -5px $shadow;
    background-color: $background_info;
    padding-bottom: $space_after_pages;

    .div_info {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $background_info_div;
        box-shadow: 0px 1px 4px 0px $text_color;
        color: $text_color;      
        margin: 0px; 
    }

    i{
        padding-right: 2%;
    }

    h2 {
        padding: 0px 70px 0px 70px;
        margin-block-start: 10%;
        margin-block-end: 10px;
    }

    .p_info {
        padding: 0px 40px 0px 40px;
        margin-block-start: 0px;
        margin-block-end: 8%;
    }

    input {
        width: 109px;
        border: none;
        background-color: transparent;
        padding-left: 5px;
    }
}

nav {

    display: flex;
    justify-content: center;
    padding-bottom: 40px;

}

.section_cards {
    padding-top: $space_after_pages;
    padding-left: $space_side_pages;
    padding-right: $space_side_pages;
    background-color: $background_info;
}