.main_menu {

    img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    .section_menu {

        //pour supprimer le blanc en bas
        margin-bottom: -50px;
        padding-top: 50px;
        position: relative;
        top: -50px;
        border: none;
        background-color: $secondary_background;
        border-radius: 30px 30px 0px 0px;

        padding-left: $space_side_pages;
        padding-right: $space_side_pages;

    }

    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-family: "Shrikhand", serif;
        }

        .hidden-checkbox {
            display: none;
        }

        .heart-icon {
            @include heart-icon;
            right: 22px;
            bottom: 7px;
            font-size: 21px;
        }
        
        .void_heart {
            @include transition-heart;
            @include default-void-heart;
        }
        
        .full_heart {
            @include transition-heart;
            @include full-heart;
        }
        
        .hidden-checkbox:checked + .heart-icon .void_heart {
            @include checked-void-heart;
        }
        
        .hidden-checkbox:checked + .heart-icon .full_heart {
            @include checked-full-heart;
        }
        
        .card_menu {
            margin-left: 50px;
        }
        

    }

    .button_center_page {
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
    }
    
    // gestion cards menu restaurant

    .section_entre {

        padding-bottom: $space_after_pages;

        p {
            padding-bottom: 8px;
            width: 11%;
            font-size: 16px;
            text-transform: uppercase;
            border-bottom: 1mm solid $ligth_green;
        }

        //cards
        .card_menu {
            margin-bottom: 10px;
            height: 72px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none;
            border-radius: 20px;
            background-color: $secondary_background;
            box-shadow: 0px 5px 10px 1px;
            justify-content: center;
        
            .card_menu_titre {
                font-weight: bold;
                padding: 0px;

                /*gestion elipse*/
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis; 
                height: 30%;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            p {
                font-weight: lighter;
                margin-left: 30px;
                margin-block-start: 7px;
                margin-block-end: 7px;
                width: 100%;
                padding: 0px;
                border: none;
                height: 10px;
                padding: 0px;
                text-transform: none;

            }
        
            .card_menu_price {

                .price {
                    text-align: center;
                    margin: 0px;
                    font-weight: bold;
                    width: 21%;
                    color: $primary_text_color;
                }
                
                .title_price {
                    margin-bottom: 0px;
                    margin-top: 0px;
                    height: 100%;
                    white-space: nowrap; /* Empêche le texte de passer à la ligne */
                    overflow: hidden; /* Cache le texte qui dépasse */
                    text-overflow: ellipsis; /* Ajoute une ellipse à la fin du texte coupé */
                    margin-left: 15px;
                }

            }
        }    
    }
}

/* desktop devices (1024px) */
@media (min-width: 1024px) {

    // partie footer de la home page 
    .main_menu {

        .section_menu{
            //effet de decallage de l'exterieur
            margin-left: $space_side_desktop;
            margin-right: $space_side_desktop;

            //effet de decallage de l'interieur
            padding-left: 200px;
            padding-right: 200px;
        }

    }

}



