.main_menu {

    img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    .box_menu {

        //pour supprimer le blanc en bas
        margin-bottom: -50px;
        padding-top: 50px;
        position: relative;
        top: -50px;
        border: none;
        background-color: $secondary_background;
        border-radius: 30px 30px 0px 0px;

        padding-left: $space_side_pages;
        padding-right: $space_side_pages;

    }

    //cacher les checkbox
    //du coeur et partie check list menu
    .hidden-checkbox {
        display: none;
    }

    //gestion titre de la page avec transition du coeur 
    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 28px;
            font-family: "Shrikhand", serif;
        }

        .heart-icon {
            @include heart-icon;
            right: 22px;
            bottom: 10px;
        }
        
        .void_heart {
            @include transition-heart;
            @include default-void-heart;
        }
        
        .full_heart {
            @include transition-heart;
            @include full-heart;
        }

        //gestion etat checkbox et donc transition
        
        .hidden-checkbox:checked + .heart-icon .void_heart {
            @include checked-void-heart;
        }
        
        .hidden-checkbox:checked + .heart-icon .full_heart {
            @include checked-full-heart;
        }

    }

    .button_center_page {
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
    }
        


    
    // gestion cards menu restaurant

    .menu {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding-bottom: 4%;

        article {
            width: 100%;
            position: relative;
            overflow: hidden;
            display: flex;

            //cards
            .card_menu {
                width: 100%;
                margin-bottom: 10px;
                background-color: $white;

                //importation mixin
                @include box_shadow;
                @include card_menu_box;

                //tout ce qui depasse ne sois plus visible 
                overflow: hidden;
                width: 100%;
                position: relative;
                transition: 400ms;
            
                .card_menu_titre {
                    font-size: 18px;
                    font-weight: 500;

                    /*gestion elipse*/
                    white-space: nowrap; 
                    overflow: hidden; 
                    text-overflow: ellipsis; 
                    margin-top: 0px;
                    margin-bottom: 0px;

                    width: 91%;
                    height: 18px;    
                    
                    padding-bottom: 7px;
                }

                p {
                    font-weight: lighter;
                    margin-left: 30px;
                    margin-block-start: 7px;
                    margin-block-end: 7px;
                    width: 100%;
                    padding: 0px;
                    border: none;
                    height: 10px;
                    padding: 0px;
                    text-transform: none;

                }
            
                .price {
                    text-align: center;
                    
                    font-size: 15px;
                    font-weight: 700;
                    width: 32px;
                    color: $primary_text_color;

                    bottom: 45%;
                    right: 2%;
                    margin: 0px;
                    position: absolute;
                    z-index: 2;
                    padding: 0px;
                }

                .title_price {
                    font-size: 15px;

                    //Empêche le texte de passer à la ligne 
                    white-space: nowrap;

                    //Cache le texte qui dépasse
                    overflow: hidden;

                    //Ajoute une ellipse à la fin du texte coupé
                    text-overflow: ellipsis; 
                    margin: 0px;

                    width: 91%;
                    height: 19px;
                    font-weight: 300;
                    font-size: 15.04px;
                    
                }
            }  
            

            

            //gestion cards checklist
            .check_list_box {

                width: 0px;

                //gestion temp transition
                transition: width 400ms;

                //box commun avec cards_menu
                @include card_menu_box;

                //personalisation
                background-color: $ligth_green;

                //gestion des ombre

                //on enleve les bord arrondi
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;

                //personalisation couleur icone
                i {
                    color: $white;
                    font-size: 20px;
                }

            }
        }


        p {
            font-weight: 300;
            padding-bottom: 8px;
            width: 11%;
            font-size: 16px;
            text-transform: uppercase;
            border-bottom: 1mm solid $ligth_green;
        }

        .check_list_label {
            z-index: 4;
            position: absolute;
            display: block;
            background-color: transparent;
            width: 100%;
            height: 100%;
        }
  
    }
}

/* desktop devices (1024px) */
@media (min-width: 768px) {

    // partie footer de la home page 
    .main_menu {
        
        .heart-icon {
            position: relative;
            right: 0px;
            left: 15px;
        }

        .box_menu{
            margin-left: 11%;
            margin-right: 11%;
            padding-left: 17%;
            padding-right: 17%;

            .div_heart_title {
                justify-content: center;
            }
        }
    }
}



