.main_menu {

    img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    .box_menu {

        //pour supprimer le blanc en bas
        margin-bottom: -50px;
        padding-top: 50px;
        position: relative;
        top: -50px;
        border: none;
        background-color: $secondary_background;
        border-radius: 30px 30px 0px 0px;

        padding-left: $space_side_pages;
        padding-right: $space_side_pages;

    }

    //cacher les checkbox
    //du coeur et partie check list menu
    .hidden-checkbox {
        display: none;
    }

    //gestion titre de la page avec transition du coeur 
    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-family: "Shrikhand", serif;
        }

        .heart-icon {
            @include heart-icon;
            right: 22px;
            bottom: 7px;
            font-size: 21px;
        }
        
        .void_heart {
            @include transition-heart;
            @include default-void-heart;
        }
        
        .full_heart {
            @include transition-heart;
            @include full-heart;
        }

        //gestion etat checkbox et donc transition
        
        .hidden-checkbox:checked + .heart-icon .void_heart {
            @include checked-void-heart;
        }
        
        .hidden-checkbox:checked + .heart-icon .full_heart {
            @include checked-full-heart;
        }

    }

    .button_center_page {
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
    }
        
    //Lorsque la case est cochée, ajustez la position de la boîte
    
    //gestion 1 article
    
    #check_list_1:checked + .check_list_label .card_menu {
        width: calc(100% - 56px); 
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_1:checked + .check_list_label .check_list_box {
         left: calc(100% - 56px);
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }

    //gestion 2 article

    #check_list_2:checked + .check_list_label .card_menu {
        width: calc(100% - 56px); 
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_2:checked + .check_list_label .check_list_box {
         left: calc(100% - 56px);
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }

    //gestion 3 article

    #check_list_3:checked + .check_list_label .card_menu {
        width: calc(100% - 56px); 
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_3:checked + .check_list_label .check_list_box {
         left: calc(100% - 56px);
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }

    //gestion 4 article

    #check_list_4:checked + .check_list_label .card_menu {
        width: calc(100% - 56px); 
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_4:checked + .check_list_label .check_list_box {
         left: calc(100% - 56px);
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }

    //gestion 5 article

    #check_list_5:checked + .check_list_label .card_menu {
        width: calc(100% - 56px); 
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_5:checked + .check_list_label .check_list_box {
         left: calc(100% - 56px);
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }

    //gestion 6 article

    #check_list_6:checked + .check_list_label .card_menu {
        width: calc(100% - 56px); 
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_6:checked + .check_list_label .check_list_box {
         left: calc(100% - 56px);
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }

    //gestion 7 article

    #check_list_7:checked + .check_list_label .card_menu {
        width: calc(100% - 56px); 
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_7:checked + .check_list_label .check_list_box {
         left: calc(100% - 56px);
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }

    //gestion 8 article

    #check_list_8:checked + .check_list_label .card_menu {
        width: calc(100% - 56px); 
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_8:checked + .check_list_label .check_list_box {
         left: calc(100% - 56px);
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }

    //gestion 9 article

    #check_list_9:checked + .check_list_label .card_menu {
        width: calc(100% - 56px); 
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_9:checked + .check_list_label .check_list_box {
         left: calc(100% - 56px);
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }


    
    // gestion cards menu restaurant

    .menu {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding-bottom: 4%;

        article {
            width: 100%;
        }


        p {
            padding-bottom: 8px;
            width: 11%;
            font-size: 16px;
            text-transform: uppercase;
            border-bottom: 1mm solid $ligth_green;
        }

        .check_list_label {
            position: relative;
        }

        //gestion cards checklist
        .check_list_box {

            transition: left 0.1ms;

            position: absolute;
            left: 100%;
            top: 0%;
            width: 56px;

            //gestion temp transition
            transition: left 400ms;

            //box commun avec cards_menu
            @include card_menu_box;

            //personalisation
            background-color: $ligth_green;

            //gestion des ombre

            //on enleve les bord arrondi
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;

            //personalisation couleur icone
            i {
                color: $white;
                font-size: 20px;
            }

        }
        
        //cards
        .card_menu {
            width: 100%;
            margin-bottom: 10px;
            background-color: $secondary_background;

            transition: width 0.3ms;
            
            //importation mixin
            @include box_shadow;
            @include card_menu_box;
        
            .card_menu_titre {
                font-weight: bold;
                padding: 0px;

                /*gestion elipse*/
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis; 
                height: 30%;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            p {
                font-weight: lighter;
                margin-left: 30px;
                margin-block-start: 7px;
                margin-block-end: 7px;
                width: 100%;
                padding: 0px;
                border: none;
                height: 10px;
                padding: 0px;
                text-transform: none;

            }
        
            .card_menu_price {

                .price {
                    padding-bottom: 10px;
                    padding-right: 10px;
                    text-align: center;
                    margin: 0px;
                    font-weight: bold;
                    width: 21%;
                    color: $primary_text_color;
                }
                
                .title_price {
                    margin-bottom: 0px;
                    margin-top: 0px;
                    height: 100%;

                    //Empêche le texte de passer à la ligne 
                    white-space: nowrap;

                    //Cache le texte qui dépasse
                    overflow: hidden;

                    //Ajoute une ellipse à la fin du texte coupé
                    text-overflow: ellipsis; 
                    margin-left: 15px;
                }

            }
        }    
    }
}

/* desktop devices (1024px) */
@media (min-width: 768px) {

    // partie footer de la home page 
    .main_menu {

        .box_menu{
            //effet de decallage de l'exterieur
            margin-left: $space_side_desktop;
            margin-right: $space_side_desktop;

            //effet de decallage de l'interieur
            padding-left: 200px;
            padding-right: 200px;

        }
    }

}



