    //Lorsque la case est cochée, ajustez la position de la boîte
    
    //gestion 1 article
    
    #check_list_1:checked ~ #containner_1 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_1:checked ~ #check_1 {
         width: 56px;
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }

    //gestion 2 article

    #check_list_2:checked ~ #containner_2 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_2:checked ~ #check_2 {
         width: 56px;
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }


    //gestion 3 article

    #check_list_3:checked ~ #containner_3 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_3:checked ~ #check_3 {
         width: 56px;
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }


    //gestion 4 article

    #check_list_4:checked ~ #containner_4 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_4:checked ~ #check_4 {
         width: 56px;
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }


    //gestion 5 article

    #check_list_5:checked ~ #containner_5 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_5:checked ~ #check_5 {
         width: 56px;
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }


    //gestion 6 article

    #check_list_6:checked ~ #containner_6 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_6:checked ~ #check_6 {
         width: 56px;
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }


    //gestion 7 article

    #check_list_7:checked ~ #containner_7 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_7:checked ~ #check_7 {
         width: 56px;
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }


    //gestion 8 article

    #check_list_8:checked ~ #containner_8 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_8:checked ~ #check_8 {
         width: 56px;
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }


    //gestion 9 article

    #check_list_9:checked ~ #containner_9 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_9:checked ~ #check_9 {
         width: 56px;
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }


    //gestion 10 article

    #check_list_10:checked ~ #containner_10 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #check_list_10:checked ~ #check_10 {
         width: 56px;
         box-shadow: 0px 3px 6px 0.4px #CCCCCC;
    }



    .menu {
        opacity: 0;
        //forward pour arreter l'animation a la fin sinon tout redevient invisible
        //chaque div entre plat desert apparait differament
        animation: apparition_cards 1s forwards;
    }

    //gestion apparition plat principale par plat principale
    #menu_1  {
        animation-delay: 0.33s;

    }

    #menu_2 {
        animation-delay: 0.66s;
    }

    #menu_3 {
        animation-delay: 1s;
    }


    //animation pour l 'odre d apparition des cards

    @keyframes apparition_cards {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }