//mixin pour la partie animation du coeur

//gestion du label 
@mixin heart-icon {
    position: relative;

    //taille du coeur
    font-size: 21px;
}

//partie gestion temp transition
@mixin transition-heart {
    position: absolute;
    left: 0;
    transition: opacity 0.3s ease-in-out;
}

//etat par défaut

@mixin default-void-heart {
    opacity: 1;
    color: black;
}

@mixin full-heart {
    opacity: 0;
    color: transparent;
    background-image: linear-gradient(to top, $secondary, $primary);
    -webkit-background-clip: text;
}

@mixin checked-void-heart {
    opacity: 0;
}

@mixin checked-full-heart {
    opacity: 1;
}

//gestion des ombre du site 
@mixin box_shadow {
    box-shadow: 0px 3px 6px 0.4px #CCCCCC;
}



//animation ajout repas a la liste
//mixin de la partie card_menu general car utiliser pour carte classique et la sous position
@mixin card_menu_box {

    height: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 20px;
    justify-content: center;
}

@mixin checkmark_size {
    width: 77px;
}


