//first color
$primary: #9356DC;
$secondary: #FF79DA;

//other color
$dark_blue: #003A68;
$ligth_blue: #89C8FA;
$dark_green: #008766;
$ligth_green: #99E2D0;
$white: white;
$shadow: #CCCCCC;

//background
$primary_background: #EAEAEA;
$secondary_background: #F6F6F6;


//text color
$primary_text_color: #353535;
$secondary_text_color: black;

//space pages
$space_after_pages: 10%;
$space_side_pages: 25px;

//text align
$center_text: center;

//cards
$cards_border--arrounds: 15px;

